command[check_pgsql]=/usr/lib/nagios/plugins/check_pgsql -H localhost -d expman_production -l expman -p secret
command[check_elasticsearch_cluser]=/usr/lib/nagios/plugins/check_elasticsearch_cluster.rb --ip 107.170.106.199 --port 9200
command[check_unicorn]=/usr/lib/nagios/plugins/check_unicorn 2
command[check_unicorn_processes]=/usr/lib/nagios/plugins/check_unicorn_processes 2
command[check_nginx_status]=sudo /usr/lib/nagios/plugins/check_nginx_status.sh IP 80 nginx_status
command[check_disk]=/usr/lib/nagios/plugins/check_disk -w 10% -c 5% -p /
command[check_load_nrpe]=/usr/lib/nagios/plugins/check_load -w 5.0,4.0,3.0 -c 10.0,6.0,4.0
command[check_procs_nrpe]=/usr/lib/nagios/plugins/check_procs -w 10 -c 20 --metric CPU
command[check_http_nrpe]=/usr/lib/nagios/plugins/check_http -H localhost
command[check_ssh_nrpe]=/usr/lib/nagios/plugins/check_ssh localhost
command[check_ping_nrpe]=/usr/lib/nagios/plugins/check_ping -H IP -w 100.0,20% -c 500.0,60%